define( [], function() {
    var Config = {
        web_socket_url  : "ws://spacebotwar.com:5001/ws/game/lobby",
        radius_api_key  : "78855680-671c-4c70-b194-2e392a0a7c81"
    };
    return Config;
});
