@import url("bootstrap.css");
@import url("commonstyles.css");
@import url("jackedup.css");
@import url("jqueryui.css");



.draggable {
    width: 800px;
    height: 600px;
    left: 300px;
    top: 200px;
    border: 1px solid #cc3;
}

.viewport_binder {
    width: 1400px;
    height: 1000px;
    left: -600px;
    top: -400px;
    border: 1px solid #cc3;
    position: absolute;
}

.viewport {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    position: relative;
}

.arena_viewport {
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.arena_viewport_binder {
    width: 1448px;
    height: 1448px;
    left: -424px;
    top: -424px;
    border: 1px solid #cc3;
    position: absolute;
}

.draggable_canvas {
    width: 1024px;
    height: 1024px;
    left:   -212px;
    top:    -212px;
}
