<div class="container">
<div class="span12">
    <p>This is the footer</p>
</div>
<div id="chat-wrapper">
  <div id="chat">
    <div class="item-list">
      <ul id="mainpanel">
        <li id="chatbox_0" class="chatbox" style="display: block;">
          <a href="#" class="chatboxhead active">
            <span class="subpanel_title_text">Public Chat</span>
          </a>
          <div class="subpanel" style="display: block;">
            <div class="subpanel_title">
              <div class="profile-link">Public Chat</div>
              <div class="chatboxcontent" style="overflow-y: hidden;">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
