@import url("bootstrap.css");
@import url("commonstyles.css");
@import url("jackedup.css");
@import url("jqueryui.css");



.viewport_binder {
    width: 1400px;
    height: 1000px;
    left: -600px;
    top: -400px;
    border: 1px solid #cc3;
    position: absolute;
}

.viewport {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    position: relative;
}

.arena_viewport {
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.arena_viewport_binder {
    width: 2400px;
    height: 2400px;
    left: -900px;
    top: -900px;
    border: 1px solid #cc3;
    position: absolute;
}

.draggable_canvas {
    width:  1500px;
    height: 1500px;
    left:   450px;
    top:    450px;
}
