
    <div >
        <h2>Space Bot War</h2>
    
        <p>In the 31st Century mankind is exploring the galaxy, but the risk of being attacked by aliens or pirates is so great that 
        spacecraft are unmanned and fully automated.</p>

        <p>Spacecraft (now called Spacebots) are pre-programmed to perform their actions. In the event of attack by enemies the Spacebots with the best program will
        usually win. Spacebot programmers are highly paid and regarded by society in the same way as princes or reality TV guests  were centuries earlier.</p>

        <p>The training for Spacebot programmers is relatively simple, but competition for these places is intense. Weekly tournaments are run where 
        the best spacebots compete against each other to determine their rank and to win prizes.</p>

        <h3>Coming Soon</h3>

        <p>This game is still in a pre-alpha state and is not yet open for membership</p>

        <p>the following is a demonstration which will (soon) demonstrate two fleets of ships competing against each other</p>

        <p>Space Bot War is inspired by the 1970's game RobotWar (see <a href="http://en.wikipedia.org/wiki/Robotwar" target="_blank">Wikipedia</a>)</p>


        <div class="arena_viewport ui-widget-content">
            <div class="arena_viewport_binder">
                <canvas id="draggable_canvas" class="draggable_canvas" style="background-image:url('/img/starmap1.jpg'); ">
            </div>
        </div>



    </div>
